In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("Bodyfat.csv")

In [5]:
df

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
248,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
249,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
250,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
251,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

In [6]:
#Summary Function:

In [7]:
df.head()

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [8]:
df.head().T

                0         1         2         3        4
Density    1.0708    1.0853    1.0414    1.0751    1.034
bodyfat   12.3000    6.1000   25.3000   10.4000   28.700
Age       23.0000   22.0000   22.0000   26.0000   24.000
Weight   154.2500  173.2500  154.0000  184.7500  184.250
Height    67.7500   72.2500   66.2500   72.2500   71.250
Neck      36.2000   38.5000   34.0000   37.4000   34.400
Chest     93.1000   93.6000   95.8000  101.8000   97.300
Abdomen   85.2000   83.0000   87.9000   86.4000  100.000
Hip       94.5000   98.7000   99.2000  101.2000  101.900
Thigh     59.0000   58.7000   59.6000   60.1000   63.200
Knee      37.3000   37.3000   38.9000   37.3000   42.200
Ankle     21.9000   23.4000   24.0000   22.8000   24.000
Biceps    32.0000   30.5000   28.8000   32.4000   32.200
Forearm   27.4000   28.9000   25.2000   29.4000   27.700
Wrist     17.1000   18.2000   16.6000   18.2000   17.700

In [9]:
df.head(15)

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
5,1.0502,20.9,24,210.25,74.75,39.0,104.5,94.4,107.8,66.0,42.0,25.6,35.7,30.6,18.8
6,1.0549,19.2,26,181.00,69.75,36.4,105.1,90.7,100.3,58.4,38.3,22.9,31.9,27.8,17.7
7,1.0704,12.4,25,176.00,72.50,37.8,99.6,88.5,97.1,60.0,39.4,23.2,30.5,29.0,18.8
8,1.0900,4.1,25,191.00,74.00,38.1,100.9,82.5,99.9,62.9,38.3,23.8,35.9,31.1,18.2
9,1.0722,11.7,23,198.25,73.50,42.1,99.6,88.6,104.1,63.1,41.7,25.0,35.6,30.0,19.2
10,1.0830,7.1,26,186.25,74.50,38.5,101.5,83.6,98.2,59.7,39.7,25.2,32.8,29.4,18.5
11,1.0812,7.8,27,216.00,76.00,39.4,103.6,90.9,107.7,66.2,39.2,25.9,37.2,30.2,19.0
12,1.0513,20.8,32,180.50,69.50,38.4,102.0,91.6,103.9,63.4,38.3,21.5,32.5,28.6,17.7
13,1.0505,21.2,30,205.25,71.25,39.4,104.1,101.8,108.6,66.0,41.5,23.7,36.9,31.6,18.8
14,1.0484,22.1,35,187.75,69.50,40.5,101.3,96.4,100.1,69.0,39.0,23.1,36.1,30.5,18.2

In [10]:
df.tail()

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
247,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
248,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
249,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
250,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
251,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

In [11]:
df.tail(8)

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
244,1.0334,29.0,67,199.50,68.50,40.7,118.3,106.1,101.6,58.2,38.8,24.1,32.1,29.3,18.5
245,1.0641,15.2,68,155.50,69.25,36.3,97.4,84.3,94.4,54.3,37.5,22.6,29.2,27.3,18.5
246,1.0308,30.2,69,215.50,70.50,40.8,113.7,107.6,110.0,63.3,44.0,22.6,37.5,32.6,18.8
247,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
248,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
249,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
250,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
251,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

In [12]:
df.shape

(252, 15)

In [13]:
df.columns

Index(['Density', 'bodyfat', 'Age', 'Weight', 'Height', 'Neck', 'Chest',
       'Abdomen', 'Hip', 'Thigh', 'Knee', 'Ankle', 'Biceps', 'Forearm',
       'Wrist'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Density  252 non-null    float64
 1   bodyfat  252 non-null    float64
 2   Age      252 non-null    int64
 3   Weight   252 non-null    float64
 4   Height   252 non-null    float64
 5   Neck     252 non-null    float64
 6   Chest    252 non-null    float64
 7   Abdomen  252 non-null    float64
 8   Hip      252 non-null    float64
 9   Thigh    252 non-null    float64
 10  Knee     252 non-null    float64
 11  Ankle    252 non-null    float64
 12  Biceps   252 non-null    float64
 13  Forearm  252 non-null    float64
 14  Wrist    252 non-null    float64
dtypes: float64(14), int64(1)
memory usage: 29.7 KB

In [15]:
df.describe

<bound method NDFrame.describe of      Density  bodyfat  Age  Weight  Height  Neck  Chest  Abdomen    Hip  \
0     1.0708     12.3   23  154.25   67.75  36.2   93.1     85.2   94.5
1     1.0853      6.1   22  173.25   72.25  38.5   93.6     83.0   98.7
2     1.0414     25.3   22  154.00   66.25  34.0   95.8     87.9   99.2
3     1.0751     10.4   26  184.75   72.25  37.4  101.8     86.4  101.2
4     1.0340     28.7   24  184.25   71.25  34.4   97.3    100.0  101.9
..       ...      ...  ...     ...     ...   ...    ...      ...    ...
247   1.0736     11.0   70  134.25   67.00  34.9   89.2     83.6   88.8
248   1.0236     33.6   72  201.00   69.75  40.9  108.5    105.0  104.5
249   1.0328     29.3   72  186.75   66.00  38.9  111.1    111.5  101.7
250   1.0399     26.0   72  190.75   70.50  38.9  108.3    101.3   97.8
251   1.0271     31.9   74  207.50   70.00  40.8  112.4    108.5  107.1

     Thigh  Knee  Ankle  Biceps  Forearm  Wrist
0     59.0  37.3   21.9    32.0     27.4   17.1
1     58.7  37.3   23.4    30.5     28.9   18.2
2     59.6  38.9   24.0    28.8     25.2   16.6
3     60.1  37.3   22.8    32.4     29.4   18.2
4     63.2  42.2   24.0    32.2     27.7   17.7
..     ...   ...    ...     ...      ...    ...
247   49.6  34.8   21.5    25.6     25.7   18.5
248   59.6  40.8   23.2    35.2     28.6   20.1
249   60.3  37.3   21.5    31.3     27.2   18.0
250   56.0  41.6   22.7    30.5     29.4   19.8
251   59.3  42.2   24.6    33.7     30.0   20.9

[252 rows x 15 columns]>

In [18]:
df

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
248,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
249,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
250,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
251,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

In [19]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df['Density']

0      1.0708
1      1.0853
2      1.0414
3      1.0751
4      1.0340
        ...
247    1.0736
248    1.0236
249    1.0328
250    1.0399
251    1.0271
Name: Density, Length: 252, dtype: float64

In [24]:
type(df['Density'])

pandas.core.series.Series

In [25]:
df['Age']

0      23
1      22
2      22
3      26
4      24
       ..
247    70
248    72
249    72
250    72
251    74
Name: Age, Length: 252, dtype: int64

In [26]:
df[['Density','Age']]

     Density  Age
0     1.0708   23
1     1.0853   22
2     1.0414   22
3     1.0751   26
4     1.0340   24
..       ...  ...
247   1.0736   70
248   1.0236   72
249   1.0328   72
250   1.0399   72
251   1.0271   74

[252 rows x 2 columns]

In [27]:
df[['Density','Age','bodyfat']]

     Density  Age  bodyfat
0     1.0708   23     12.3
1     1.0853   22      6.1
2     1.0414   22     25.3
3     1.0751   26     10.4
4     1.0340   24     28.7
..       ...  ...      ...
247   1.0736   70     11.0
248   1.0236   72     33.6
249   1.0328   72     29.3
250   1.0399   72     26.0
251   1.0271   74     31.9

[252 rows x 3 columns]

In [28]:
#adding new column:

In [29]:
df['Sport']='Kabaddi'
df.head()

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,Sport
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1,Kabaddi
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2,Kabaddi
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6,Kabaddi
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2,Kabaddi
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7,Kabaddi

In [30]:
#indexing loc,iloc:

In [31]:
df.iloc[0]

Density     1.0708
bodyfat       12.3
Age             23
Weight      154.25
Height       67.75
Neck          36.2
Chest         93.1
Abdomen       85.2
Hip           94.5
Thigh           59
Knee          37.3
Ankle         21.9
Biceps          32
Forearm       27.4
Wrist         17.1
Sport      Kabaddi
Name: 0, dtype: object

In [32]:
df.iloc[0:4]

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,Sport
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1,Kabaddi
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2,Kabaddi
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6,Kabaddi
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2,Kabaddi

In [33]:
df.iloc[0:4,0:4]

   Density  bodyfat  Age  Weight
0   1.0708     12.3   23  154.25
1   1.0853      6.1   22  173.25
2   1.0414     25.3   22  154.00
3   1.0751     10.4   26  184.75

In [34]:
df.iloc[0:4,0:6:2]

   Density  Age  Height
0   1.0708   23   67.75
1   1.0853   22   72.25
2   1.0414   22   66.25
3   1.0751   26   72.25

In [35]:
df.iloc[0:10:2,0:8:2]

   Density  Age  Height  Chest
0   1.0708   23   67.75   93.1
2   1.0414   22   66.25   95.8
4   1.0340   24   71.25   97.3
6   1.0549   26   69.75  105.1
8   1.0900   25   74.00  100.9

In [36]:
df.iloc[0:100]['Density']

0     1.0708
1     1.0853
2     1.0414
3     1.0751
4     1.0340
       ...
95    1.0991
96    1.0770
97    1.0730
98    1.0582
99    1.0484
Name: Density, Length: 100, dtype: float64

In [38]:
df.iloc[0:100][['Density','Age','bodyfat']]

    Density  Age  bodyfat
0    1.0708   23     12.3
1    1.0853   22      6.1
2    1.0414   22     25.3
3    1.0751   26     10.4
4    1.0340   24     28.7
..      ...  ...      ...
95   1.0991   53     17.4
96   1.0770   38      9.6
97   1.0730   50     11.3
98   1.0582   46     17.8
99   1.0484   47     22.2

[100 rows x 3 columns]

In [39]:
#first 10 row and 1st 10 column:

In [40]:
df.iloc[:10,:10]

   Density  bodyfat  Age  Weight  Height  Neck  Chest  Abdomen    Hip  Thigh
0   1.0708     12.3   23  154.25   67.75  36.2   93.1     85.2   94.5   59.0
1   1.0853      6.1   22  173.25   72.25  38.5   93.6     83.0   98.7   58.7
2   1.0414     25.3   22  154.00   66.25  34.0   95.8     87.9   99.2   59.6
3   1.0751     10.4   26  184.75   72.25  37.4  101.8     86.4  101.2   60.1
4   1.0340     28.7   24  184.25   71.25  34.4   97.3    100.0  101.9   63.2
5   1.0502     20.9   24  210.25   74.75  39.0  104.5     94.4  107.8   66.0
6   1.0549     19.2   26  181.00   69.75  36.4  105.1     90.7  100.3   58.4
7   1.0704     12.4   25  176.00   72.50  37.8   99.6     88.5   97.1   60.0
8   1.0900      4.1   25  191.00   74.00  38.1  100.9     82.5   99.9   62.9
9   1.0722     11.7   23  198.25   73.50  42.1   99.6     88.6  104.1   63.1

In [41]:
df.iloc[300:,4:]

Empty DataFrame
Columns: [Height, Neck, Chest, Abdomen, Hip, Thigh, Knee, Ankle, Biceps, Forearm, Wrist, Sport]
Index: []

In [42]:
df.iloc[0][4]

67.75

In [43]:
df.iloc[0][['Age','Density']]

Age            23
Density    1.0708
Name: 0, dtype: object

In [44]:
df.iloc[0]['Density']

1.0708

In [45]:
df.iloc[0][4:8]

Height     67.75
Neck        36.2
Chest       93.1
Abdomen     85.2
Name: 0, dtype: object

In [46]:
#cheacking null value:

In [47]:
df.isnull()

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,Sport
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
248,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
249,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
250,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
251,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [48]:
df.isnull().sum()

Density    0
bodyfat    0
Age        0
Weight     0
Height     0
Neck       0
Chest      0
Abdomen    0
Hip        0
Thigh      0
Knee       0
Ankle      0
Biceps     0
Forearm    0
Wrist      0
Sport      0
dtype: int64

In [53]:
#Series related function:

In [54]:
df['Age'].sum()

11311

In [55]:
df['Age'].max()

81

In [56]:
df['Age'].min()

22

In [57]:
df['Age'].std()

12.602039722717866

In [63]:
#deletion operator:

In [65]:
df.drop(['Sport'],axis=1,inplace=True)
df

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
248,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
249,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
250,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
251,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

In [66]:
#filtering:

In [68]:
df[df['Age']>30]

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
12,1.0513,20.8,32,180.50,69.50,38.4,102.0,91.6,103.9,63.4,38.3,21.5,32.5,28.6,17.7
14,1.0484,22.1,35,187.75,69.50,40.5,101.3,96.4,100.1,69.0,39.0,23.1,36.1,30.5,18.2
15,1.0512,20.9,35,162.75,66.00,36.4,99.1,92.8,99.2,63.1,38.7,21.7,31.1,26.4,16.9
16,1.0333,29.0,34,195.75,71.00,38.9,101.9,96.4,105.2,64.8,40.8,23.1,36.2,30.8,17.3
17,1.0468,22.9,32,209.25,71.00,42.1,107.6,97.5,107.0,66.9,40.0,24.4,38.2,31.6,19.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
248,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
249,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
250,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
251,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

In [69]:
df[df['Age']<30]

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
5,1.0502,20.9,24,210.25,74.75,39.0,104.5,94.4,107.8,66.0,42.0,25.6,35.7,30.6,18.8
6,1.0549,19.2,26,181.00,69.75,36.4,105.1,90.7,100.3,58.4,38.3,22.9,31.9,27.8,17.7
7,1.0704,12.4,25,176.00,72.50,37.8,99.6,88.5,97.1,60.0,39.4,23.2,30.5,29.0,18.8
8,1.0900,4.1,25,191.00,74.00,38.1,100.9,82.5,99.9,62.9,38.3,23.8,35.9,31.1,18.2
9,1.0722,11.7,23,198.25,73.50,42.1,99.6,88.6,104.1,63.1,41.7,25.0,35.6,30.0,19.2
10,1.0830,7.1,26,186.25,74.50,38.5,101.5,83.6,98.2,59.7,39.7,25.2,32.8,29.4,18.5
11,1.0812,7.8,27,216.00,76.00,39.4,103.6,90.9,107.7,66.2,39.2,25.9,37.2,30.2,19.0
18,1.0622,16.0,28,183.75,67.75,38.0,106.8,89.6,102.4,64.2,38.7,22.9,37.2,30.5,18.5
20,1.0551,19.1,28,179.00,68.00,39.1,103.3,95.9,104.9,63.5,38.0,22.1,32.5,30.3,18.4
21,1.0640,15.2,28,200.50,69.75,41.3,111.4,98.8,104.8,63.4,40.6,24.6,33.0,32.8,19.9
24,1.0668,14.0,28,151.25,67.75,34.5,90.2,76.3,95.8,58.4,35.5,22.9,31.1,28.0,17.6
25,1.0911,3.7,27,159.25,71.50,35.7,89.6,79.7,96.5,55.0,36.7,22.5,29.9,28.2,17.7
28,1.0910,3.7,27,133.25,64.75,36.4,93.5,73.9,88.5,50.1,34.5,21.3,30.5,27.9,17.2
29,1.0790,8.8,29,160.75,69.00,36.7,97.4,83.5,98.7,58.9,35.3,22.6,30.1,26.7,17.6
31,1.0862,5.7,29,160.25,71.25,37.3,93.5,84.5,100.6,58.5,38.8,21.5,30.1,26.4,17.9
32,1.0719,11.8,27,168.00,71.25,38.1,93.0,79.1,94.5,57.3,36.2,24.5,29.0,30.0,18.8
143,1.0775,9.4,23,159.75,72.25,35.5,92.1,77.1,93.9,56.1,36.1,22.7,30.5,27.2,18.2
144,1.0754,10.3,23,188.15,77.50,38.0,96.6,85.3,102.5,59.1,37.6,23.2,31.8,29.7,18.3
145,1.0664,14.2,24,156.00,70.75,35.7,92.7,81.9,95.3,56.4,36.5,22.0,33.5,28.3,17.3
146,1.0550,19.2,24,208.50,72.75,39.2,102.0,99.1,110.1,71.2,43.5,25.2,36.1,30.3,18.7
147,1.0322,29.6,25,206.50,69.75,40.9,110.9,100.5,106.2,68.4,40.8,24.6,33.3,29.7,18.4
148,1.0873,5.3,25,143.75,72.50,35.2,92.3,76.5,92.1,51.9,35.7,22.0,25.8,25.2,16.9
149,1.0416,25.2,26,223.00,70.25,40.6,114.1,106.8,113.9,67.6,42.7,24.7,36.0,30.4,18.4
150,1.0776,9.4,26,152.25,69.00,35.4,92.9,77.6,93.5,56.9,35.9,20.4,31.6,29.0,17.8
151,1.0542,19.6,26,241.75,74.50,41.8,108.3,102.9,114.4,72.9,43.5,25.1,38.5,33.8,19.6
152,1.0758,10.1,27,146.00,72.25,34.1,88.5,72.8,91.1,53.6,36.8,23.8,27.8,26.3,17.4
153,1.0610,16.5,27,156.75,67.25,37.9,94.0,88.2,95.2,56.8,37.4,22.8,30.6,28.3,17.9
154,1.0510,21.0,27,200.25,73.50,38.2,101.1,100.1,105.0,62.1,40.0,24.9,33.7,29.2,19.4
155,1.0594,17.3,28,171.50,75.25,35.6,92.1,83.5,98.3,57.3,37.8,21.7,32.2,27.7,17.7
156,1.0287,31.2,28,205.75,69.00,38.5,105.6,105.0,106.4,68.6,40.0,25.2,35.2,30.7,19.1
157,1.0761,10.0,28,182.50,72.25,37.0,98.5,90.8,102.5,60.8,38.5,25.0,31.6,28.0,18.6

In [70]:
df[df['Age']>30]['Density']

12     1.0513
14     1.0484
15     1.0512
16     1.0333
17     1.0468
        ...
247    1.0736
248    1.0236
249    1.0328
250    1.0399
251    1.0271
Name: Density, Length: 214, dtype: float64

In [72]:
df[df['Age']>30][['Density','Weight']]

     Density  Weight
12    1.0513  180.50
14    1.0484  187.75
15    1.0512  162.75
16    1.0333  195.75
17    1.0468  209.25
..       ...     ...
247   1.0736  134.25
248   1.0236  201.00
249   1.0328  186.75
250   1.0399  190.75
251   1.0271  207.50

[214 rows x 2 columns]

In [73]:
df[df['Age']>30][['Density','Weight','Height']]

     Density  Weight  Height
12    1.0513  180.50   69.50
14    1.0484  187.75   69.50
15    1.0512  162.75   66.00
16    1.0333  195.75   71.00
17    1.0468  209.25   71.00
..       ...     ...     ...
247   1.0736  134.25   67.00
248   1.0236  201.00   69.75
249   1.0328  186.75   66.00
250   1.0399  190.75   70.50
251   1.0271  207.50   70.00

[214 rows x 3 columns]

In [74]:
df[df['Age']>30][['Density','Weight','Neck','Chest']]

     Density  Weight  Neck  Chest
12    1.0513  180.50  38.4  102.0
14    1.0484  187.75  40.5  101.3
15    1.0512  162.75  36.4   99.1
16    1.0333  195.75  38.9  101.9
17    1.0468  209.25  42.1  107.6
..       ...     ...   ...    ...
247   1.0736  134.25  34.9   89.2
248   1.0236  201.00  40.9  108.5
249   1.0328  186.75  38.9  111.1
250   1.0399  190.75  38.9  108.3
251   1.0271  207.50  40.8  112.4

[214 rows x 4 columns]

In [76]:
df

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
248,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
249,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
250,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
251,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

In [79]:
sns.set(rc={'figure.figsize':(6,4)})

NameError: name 'sns' is not defined

In [78]:
plt.figure(figsize=(10,15))

NameError: name 'plt' is not defined

In [ ]:
predict bodyfat given reset of values...predictive analysis

predict exercise routine based on bodyfat......feature engg

bmi column

In [18]:
df

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,Weight_kg,Height_meters,bmi
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1,69.966566,1.72085,23.626779
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2,78.584814,1.83515,23.334338
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6,69.853168,1.68275,24.668737
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2,83.801122,1.83515,24.883227
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7,83.574326,1.80975,25.517358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5,60.894726,1.70180,21.026290
248,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1,91.171992,1.77165,29.047288
249,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0,84.708306,1.67640,30.141905
250,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8,86.522674,1.79070,26.982629
251,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9,94.120340,1.77800,29.772820

In [19]:
df['Weight_kg']=0.453592*df['Weight']
df.head()

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,Weight_kg,Height_meters,bmi
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1,69.966566,1.72085,23.626779
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2,78.584814,1.83515,23.334338
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6,69.853168,1.68275,24.668737
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2,83.801122,1.83515,24.883227
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7,83.574326,1.80975,25.517358

In [20]:
df['Height_meters']=df['Height']*0.0254
df.head()

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,Weight_kg,Height_meters,bmi
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1,69.966566,1.72085,23.626779
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2,78.584814,1.83515,23.334338
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6,69.853168,1.68275,24.668737
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2,83.801122,1.83515,24.883227
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7,83.574326,1.80975,25.517358

In [21]:
df['bmi']=df['Weight_kg']/(df['Height_meters']*df['Height_meters'])
df.head()

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,Weight_kg,Height_meters,bmi
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1,69.966566,1.72085,23.626779
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2,78.584814,1.83515,23.334338
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6,69.853168,1.68275,24.668737
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2,83.801122,1.83515,24.883227
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7,83.574326,1.80975,25.517358

In [22]:
"""
BMI	Weight Status
Below 18.5	Underweight
18.5 â€“ 24.9	Normal or Healthy Weight
25.0 â€“ 29.9	Overweight
30.0 and Above	Obese
"""

'\nBMI\tWeight Status\nBelow 18.5\tUnderweight\n18.5 â€“ 24.9\tNormal or Healthy Weight\n25.0 â€“ 29.9\tOverweight\n30.0 and Above\tObese\n'

In [15]:
df['body_categories']:

SyntaxError: invalid syntax (<ipython-input-15-aa24108f7752>, line 1)

In [23]:
def get_bmi_categories(df):
    str_bmi_categories=''
    if df['bmi']<=18.5:
        str_bmi_categories='under weight'
    elif df['bmi']>18.5 and df['bmi']<=24.9:
        str_bmi_categories='normal weight'
    elif df['bmi']>25.0 and df['bmi']<=29.9:
        str_bmi_categories='over weight'
    else:
        str_bmi_categories='obese weight'
    return str_bmi_categories

In [24]:
df

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,Weight_kg,Height_meters,bmi
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1,69.966566,1.72085,23.626779
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2,78.584814,1.83515,23.334338
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6,69.853168,1.68275,24.668737
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2,83.801122,1.83515,24.883227
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7,83.574326,1.80975,25.517358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5,60.894726,1.70180,21.026290
248,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1,91.171992,1.77165,29.047288
249,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0,84.708306,1.67640,30.141905
250,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8,86.522674,1.79070,26.982629
251,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9,94.120340,1.77800,29.772820

In [25]:
df['bmi_categories']=df.apply(get_bmi_categories,axis=1)

In [26]:
df.head(10)

,Density,bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,Weight_kg,Height_meters,bmi,bmi_categories
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1,69.966566,1.72085,23.626779,normal weight
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2,78.584814,1.83515,23.334338,normal weight
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6,69.853168,1.68275,24.668737,normal weight
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2,83.801122,1.83515,24.883227,normal weight
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7,83.574326,1.80975,25.517358,over weight
5,1.0502,20.9,24,210.25,74.75,39.0,104.5,94.4,107.8,66.0,42.0,25.6,35.7,30.6,18.8,95.367718,1.89865,26.455231,over weight
6,1.0549,19.2,26,181.00,69.75,36.4,105.1,90.7,100.3,58.4,38.3,22.9,31.9,27.8,17.7,82.100152,1.77165,26.157010,over weight
7,1.0704,12.4,25,176.00,72.50,37.8,99.6,88.5,97.1,60.0,39.4,23.2,30.5,29.0,18.8,79.832192,1.84150,23.541526,normal weight
8,1.0900,4.1,25,191.00,74.00,38.1,100.9,82.5,99.9,62.9,38.3,23.8,35.9,31.1,18.2,86.636072,1.87960,24.522677,normal weight
9,1.0722,11.7,23,198.25,73.50,42.1,99.6,88.6,104.1,63.1,41.7,25.0,35.6,30.0,19.2,89.924614,1.86690,25.800996,over weight

0      18.5_Underweight
1      18.5-24.9_Normal
2    25-29.9_Overweight
3            30.0_Obese
dtype: category
Categories (4, object): ['18.5-24.9_Normal', '18.5_Underweight', '25-29.9_Overweight', '30.0_Obese']